@inject IMovieFilters Filters

@if (Column == Filters.SortColumn)
{
    <span>@SortSymbol</span>
}
else
{
    <span>&nbsp;</span>
}

@code {
    [Parameter]
    public MovieFilterColumns Column { get; set; }

    private string SortSymbol => Filters.SortAscending ? "🔼" : "🔽";
}
