@page "/admin/cast-member/add"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Cast Member Add</PageTitle>

@if (CastMember is not null)
{
  <CastMemberForm Busy="Busy" 
         CastMember="CastMember" 
         IsAdd="true"
         CancelRequest="Cancel"
         ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}

@if (Success)
{
  <br />
  <div class="alert alert-success">The Cast Member was successfully added.</div>
}

@if (Error)
{
  <br />
  <div class="alert alert-danger">Failed to add the Cast Member (@ErrorMessage).</div>
}

@code {
  private CastMember? CastMember { get; set; }

  private bool Busy;

  private bool Success;

  private bool Error;

  private string ErrorMessage = string.Empty;

  protected override void OnInitialized()
  {
    CastMember = new();
  }

  private async Task ValidationResultAsync(bool success)
  {
    if (Busy)
    {
      return;
    }

    if (!success)
    {
      Success = false;
      Error = false;
      return;
    }

    Busy = true;

    using var context = DbFactory.CreateDbContext();

    if (CastMember is not null)
    {
      context.CastMembers?.Add(CastMember);
    }

    try
    {
      await context.SaveChangesAsync();
      Success = true;
      Error = false;

      Navigation.NavigateTo($"/admin/cast-member/view/{CastMember?.Id}");
    }
    catch (Exception ex)
    {
      Success = false;
      Error = true;
      ErrorMessage = ex.Message;
      Busy = false;
    }
  }

  private void Cancel() => Navigation.NavigateTo($"/admin/cast-member");
}
